<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: main-nav"></nav>
<div th:replace="fragments :: team-banner"></div>
<div class="container">
    <div th:replace="fragments :: team-info"></div>
    <div th:replace="fragments :: team-menu(teamMenu='settings')"></div>
    <div class="row mt-3 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments :: team-settings-menu(currentMenu='tags')"></div>
        </div>

        <div class="col-8">
            <div class="row">
                <h2 class="col-sm-12">팀 공모전 주제</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        팀이 주로 다루고 싶은 공모전을 입력해주세요. 태그를 입력하고 반점(,) 또는 엔터를 입력하세요.
                    </div>
                    <div id="whitelist" th:text="${whitelist}" hidden></div>
                    <input id="tags" type="text" name="tags" th:value="${#strings.listJoin(tags, ',')}"
                           class="tagify-outside" aria-describedby="tagHelp"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments::ajax-csrf-header"></script>
<script th:replace="fragments::update-tags(baseUrl='/team/' + ${team.path} + '/settings/tags')"></script>
</body>
</html>