<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments::head">
</head>
<body class="bg-light">
<div th:replace="fragments::main-nav"></div>

<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments::settings-menu(currentMenu='tags')"></div>

        </div>
        <div class="col-8">
            <div class="row">
                <h2 class="col-sm-12">관심있는 공모전</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        참여하고 싶은 공모전을 입력해주세요. 해당 공모전의 팀이 생기면 알림을 받을 수 있습니다. 태그를 입력하고 반점(,) 또는 엔터를 입력하세요.
                    </div>
                    <div id="whitelist" th:text="${whitelist}" hidden></div>
                    <input id="tags" type="text" name="tags" th:value="${#strings.listJoin(tags, ',')}"
                           class="tagify-outside" aria-describedby="tagHelp"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments::ajax-csrf-header"></script>
<script th:replace="fragments::update-tags(baseUrl='/settings/tags')"></script>
</body>
</html>